# OS/IDE
.DS_Store
__pycache__
.vscode
*.pyc
*.pyo
*.egg-info/

# Hydra outputs
outputs/
multirun/
Baseline_Multiscale/
checkpoints/
data/
data_small/
data2/
subgraph_test_data/
wandb
*.dd
*.pkl
*.txt
*.out
*.h5

# TODO: Clean this up!

sliced_tests/
redefined_testing_results/
new_subgraph_testing_data*/
checkpoint_all_reproduce/
checkpoint_three_cell_types/
data_all_reproduce/
data_sample/
real_test_set/
checkpoint*/
random_comparison*/
mispredictions/
cryoem_data/
auxiliary_scripts/
data_finetune/
Mulcahy_nucleus_segmentation/
presentation_results/
report_figures/
slurm_scripts/
table_creation/
temp_inference.py
model_checkpoints
Worm_Project_Description.pdf
unused/
docs/